<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>iOS键盘弹出视图上移2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>618864B81CAE2A8B00657400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>618864D11CAE2A8B00657400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>618864DC1CAE2A8B00657400</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
